# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment & Secrets
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads & Temp files
backend/uploads/*
!backend/uploads/.gitkeep
backend/temp/*
